<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <foo key="ignore" format="Whatever" />
 
  <add key="string-with-no-value" />
  <add key="string" format="bar" />
  <add key="empty-string" format="" />

  <add key="pos-short" format="1" />
  <add key="neg-short" format="-1" />

  <add key="pos-ushort" format="1" />
  <add key="neg-ushort" format="-1" />
  
  <add key="pos-int" format="1" />
  <add key="neg-int" format="-1" />

  <add key="pos-uint" format="1" />
  <add key="neg-uint" format="-1" />

  <add key="pos-long" format="1" />
  <add key="neg-long" format="-1" />

  <add key="pos-ulong" format="1" />
  <add key="neg-ulong" format="-1" />

  <add key="float" format="1.1" />
  <add key="double" format="1.12" />
  <add key="decimal" format="1.123" />

  <add key="bool-true-1" format="True" />
  <add key="bool-true-2" format="TRUE" />
  <add key="bool-true-3" format="true" />

  <add key="bool-yes-1" format="Yes" />
  <add key="bool-yes-2" format="YES" />
  <add key="bool-yes-3" format="yes" />

  <add key="bool-1" format="1" />

  <add key="bool-false-1" format="false" />
  <add key="bool-false-2" format="FALSE" />
  <add key="bool-false-3" format="false" />

  <add key="bool-no-1" format="No" />
  <add key="bool-no-2" format="NO" />
  <add key="bool-no-3" format="no" />

  <add key="bool-0" format="0" />

  <add key="bool-invalid" format="invalid" />
  <add key="bool-invalid-empty" format="" />
  <add key="bool-invalid-space" format=" " />
  <add key="bool-invalid-number" format="-1" />

  <add key="pipe-delimited" format="A| B| C|D" />
  
  <add key="timespan-tick" format="156" />
  <add key="timespan-millisec" format="267" />
  <add key="timespan-sec" format="378" />
  <add key="timespan-min" format="489" />
  <add key="timespan-hour" format="591" />
  <add key="timespan-day" format="602" />
  <add key="timespan-week" format="6" />
  
  <add key="datetime" format="2014-01-03 13:15:24.532" />
  
  <add key="file-path-1" format="C:\some-folder\some-file" />
  <add key="file-path-2" format="C:\some-folder\some-file.txt" />
  <add key="directory-path-1" format="C:\some-folder" />
  <add key="directory-path-2" format="C:\some-folder\" />

  <add key="uri-1" format="http://www.google.com/api" />
  <add key="uri-2" format="http://www.google.com/api/" />
  <add key="uri-3" format="http://www.google.com:8080" />
  <add key="uri-4" format="https://www.google.com:8080/api/1" />
  <add key="uri-5" format="ftp://www.google.com:8080/api/1/" />
  <add key="uri-6" format="http://www.google.com:8080/param?v=foo_bar" />
  <add key="uri-invalid" format="1234" />

  <nonConfig>
    <add key="should-not-be-ignored" format="Some Value" />
  </nonConfig>

  <someSection
    name="Foo"
    category="A"
    duration="50"
  />

  <duplicateSection/>
  <duplicateSection/>
  
  <emptySection/>
</configuration>