<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <!--
    1.OFF - nothing gets logged
    2.FATAL 
    3.ERROR
    4.WARN
    5.INFO
    6.DEBUG
    7.ALL - everything gets logged
    
    Max no. of appenders = 4
    -->
    <level value="ALL"/>
    <appender-ref ref="AsyncBufferingForwarder"/>
    <appender-ref ref="UDPAppender"/>
    <!--    <appender-ref ref="BufferingForwarder" />-->
  </root>

  <appender name="AsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender, Easy.Logger">
    <lossy value="false" />
    <bufferSize value="512" />
    <idleTime value="200" />

    <!-- Must fix Message, ThreadName and Exception -->
    <Fix value="268" />

    <!--Any other appender or forwarder...-->
    <appender-ref ref="RollingFile"/>
  </appender>

  <!--  http://stackoverflow.com/a/11351400/1226568 -->
  <appender name="BufferingForwarder" type="log4net.Appender.BufferingForwardingAppender">
    <bufferSize value="512" />
    <lossy value="false" />
    <Fix value="268" />

    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="WARN"/>
    </evaluator>

    <appender-ref ref="RollingFile" />
  </appender>

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Easy.Common.XAML.Sample-%date{yyyy-MM-dd}.log" />
    <appendToFile value="false"/>
    <rollingStyle value="Composite"/>
    <maxSizeRollBackups value="-1"/>
    <maximumFileSize value="50MB"/>
    <staticLogFileName value="true"/>
    <datePattern value="yyyy-MM-dd"/>
    <preserveLogFileNameExtension value="true"/>
    <countDirection value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ISO8601} [%-5level] [%2thread] %logger{1} - %message%newline%exception"/>
    </layout>
  </appender>

  <appender name="UDPAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress value="127.0.0.1" />
    <remotePort value="1234" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ISO8601} [%-5level] [%2thread] %logger{1} - %message%newline%exception"/>
    </layout>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="FATAL"/>
      <foreColor value="Red"/>
      <backColor value="White"/>
    </mapping>
    <mapping>
      <level value="ERROR"/>
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN"/>
      <foreColor value="Yellow"/>
    </mapping>
    <mapping>
      <level value="INFO"/>
      <foreColor value="Cyan"/>
    </mapping>
    <mapping>
      <level value="DEBUG"/>
      <foreColor value="Green"/>
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ISO8601} [%-5level] [%2thread] %logger{1} - %message%newline%exception"/>
    </layout>
  </appender>
</log4net>